<!DOCTYPE html>
<html>
  <head>
      <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/map.js"></script>
  </head>
  <body>
      <div class="main">
          <h1><%message%></h1>
        <ul>
            <li>
                <label for="category">Category</label><br>
                <select name="category" id="category">
                    <option>--select--</option>
                    <option>Hostpital</option>
                    <option>Restaurant</option>
                    <option>Park</option>
                    <option>Other</option>
                </select>
            </li>
            <li>
                <input type="submit" id="find" value="Search">
            </li>
        </ul>
      </div>
      <div id="message">
      </div>
    <div id="map"></div>
     <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0x9iEzxIpTh8wBUMYZymseQpEmFUoe0M&callback=loadMap">
    </script>
  </body>
</html>